<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="localDB"
			 connectionString ="Host=localHost;Port=3306;Database=client_schedule;
			                    User=sqlUser;Password=Passw0rd!"
			 providerName="System.Data.SqlClient"/>
			 
	</connectionStrings>
</configuration>